html, body {
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.display {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 20%;
}
.input {
    flex-grow: 1;
    font-size: 25px;
    height:25px;
    margin-left: auto;
}
.total {
    flex-grow: 2;
    font-size: 75px;
    margin-left: auto;
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    width: 500px;
    height: 600px;
    border: thick solid black;
}
.numPad {
    background-color: blue;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    background-color: green;
    flex-grow: 1;
}
.numPadOption{
    flex-grow: 1;
    width: 125px;
}

.clear, .delete {
    display: flex;
    flex-grow:1;
    width: 250px;
}
.clear>button, .delete>button {
    flex-grow:1;
}
button {
    font-size: 32px;
}